{% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}
<div class="container my-3">
  {% if user.is_superuser %}
  <h2>Add a Todo</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
  {% endif %}
</div>

<div class="container my-3">
  <div class="position-absolute top-0 end-0 m-3">
    {% if not request.user.is_superuser %}
    <p class="bg-dark text-white p-2">You are registered in {{ user_profile.course }} Course</p>
    {% endif %}
</div>
  <h2>Your Todo List</h2>
  
  {% if allTodo %}
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">SNo</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in allTodo %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ todo.title }}</td>
        <td>{{ todo.desc }}</td>
        <td>{{ todo.date_created }}</td>
        <td>
          {% if request.user.is_superuser %}
              <a href="{% url 'update' todo.sno %}" class="btn btn-dark btn-sm mx-1">UPDATE</a>
          {% endif %}
          <a href="{% url 'delete' todo.sno %}" class="btn btn-dark btn-sm">DELETE</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-primary" role="alert">
    No Todos Found!! Add one.
  </div>
  {% endif %}
</div>
{% endblock %}
